@model IEnumerable<PlannerApplication.Models.newactivity>


@{
    ViewData["Title"] = "Home Page";
    List<string> sports = new List<string>();
    int a = ViewBag.Sum;
    int b = 0;
    int c = Model.Count();
}


<div class="Search container ">
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                <form>
                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <input class="form-control mr-sm-2 text-center" type="search" placeholder="Search..." name="searchString" aria-label="Search">
                    }
                </form>
                <button type="button" class="btn btn-primary">Sortera</button>
                <button type="button" class="btn btn-primare dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <form>
                        @using (Html.BeginForm("Index", "Home"))
                        {
                            <input class="dropdown-item" type="submit" name="searchString" value="Senaste">
                            <input class="dropdown-item" type="submit" name="searchString" value="Populärt">
                        }
                    </form>

                    @*<a class="dropdown-item" href="#"><strong>Populärt</strong></a>*@
                    <div class="dropdown-divider"></div>
                    @foreach (var sport in Model)
                    {
                        if (!sports.Contains(sport.Activity.Name))
                        {
                            sports.Add(@sport.Activity.Name);
                            <form>
                                @using (Html.BeginForm("Index", "Home"))
                                {
                                    <input class="dropdown-item" type="submit" name="searchString" value="@sport.Activity.Name" @*aria-label="Search"*@>
                                }
                            </form>
                        }
                    }
                </div>
            </div>
            <a type="button" class="btn btn-success" asp-area="" name="" asp-controller="Home" asp-action="GetPost">Ny Aktivitet</a>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <h5 class="col-4 mt-4 text-center" style="border-block:solid 1px blue">Antal aktiviter: @a</h5>
</div>
@*////////Activities//////////*@

<div class="card-deck mt-3">
    @foreach (var activity in Model)
    {
        b = b + 1;
        <div class="col-6 " style="min-width: 450px;">
            <div class="card">
                <img class="card-img-top" src="@activity.Activity.Picture" alt="Fotboll">
                <div class="card-body">
                    <div class="align-content-center">
                    @*    <img class="ml-5" src="@activity.User.picture.Url" style="width: 10%; height: 10%;">*@
                        <h5 class="card-title"> Rubrik: @activity.Activity.Name</h5>
                    </div>
                    <p class="card-text">@activity.Text</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Var:</strong> @activity.Where</li>
                    <li class="list-group-item"><strong>När:</strong> @activity.When</li>
                    <li class="list-group-item"><strong>Ansvarig: <a class="" asp-action="showProfile" asp-route-id="@activity.User.userID">@activity.User.firstName</a></strong></li>
                    <li class="list-group-item">
                        <a class="" type="submit" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modal @b"><strong>Deltagare:</strong> @activity.NrOfParticipants</a>
                    </li>
                    <div class="modal fade" id="Modal @b">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Deltagare</h4>
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                          </div>
                          <div class="modal-body">
                                    @foreach (var item in activity.participants)
                                    {
                                        <li class="list-group-item">
                                        <a class="" asp-action="showProfile" asp-route-id="@item.User.userID">@item.User.firstName @item.User.lastName </a>
                                        <img class="float-end" src="@item.User.standardPicture" style="width: 7%; height: 7%;" />
                                    </li> 
                                    }
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                          </div>

                        </div>
                      </div>
                    </div>
               </ul>
                <div class="card-body">
                    <a type="button" class="btn btn-success" asp-action="Join" asp-route-id="@activity.newActivityID">Boka</a>
                    @*<button type="button" class="btn btn-success">Jag hakar!</button>*@
                    <button type="button" class="btn btn-warning">Avboka</button>
                    @*<a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@activity.newActivityID">Radera!</a>*@
                    @*<button type="button" class="btn btn-danger ">Radera</button>*@
                </div>
                    </div>

                </div>
                }
            </div>



















@*<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal('show');
});
</script>*@