@model IEnumerable<PlannerApplication.Models.newactivity>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
		#map{
		height: 300px;
		width: 100%;
	}
    </style>

@{
    ViewData["Title"] = "Home Page";
    List<string> sports = new List<string>();
    int a = ViewBag.Sum;
    int b = 0;
    int c = Model.Count();
    var _userID = ViewBag.user;
    var _userAge = ViewBag.Age;
    var Notification = ViewBag.Notification;
}

@if(Notification == true)
{
    <div class="row">
        <div class="col text-center">
            <div class="alert alert-primary mw-10" role="alert">
                Någon vill gå med i din grupp!
                <a type="button" class="btn btn-success" asp-controller="Group" asp-action="GroupHandler" asp-route-id="">Ta reda på vem!</a>
            </div>
        </div>
    </div>
    <hr />
}

<div class="Search container ">
    <!-- Search area -->
    <div class="row">
        <div class="col text-center">
            <div class="btn-group">
                <form>
                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <input class="form-control mr-sm-2 text-center" type="search" placeholder="Search..." name="searchString" aria-label="Search">
                    }
                </form>
                <button type="button" class="btn btn-primary">Sortera</button>
                <button type="button" class="btn btn-primare dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <form>
                        @using (Html.BeginForm("Index", "Home"))
                        {
                            <input class="dropdown-item" type="submit" name="searchString" value="Senaste">
                            <input class="dropdown-item" type="submit" name="searchString" value="Populärt">
                            <input class="dropdown-item" type="submit" name="searchString" value="Barn">
                            <input class="dropdown-item" type="submit" name="searchString" value="Närmast mig">
                        }
                    </form>
                    <div class="dropdown-divider"></div>
                    @foreach (var sport in Model)
                    {
                        if (!sports.Contains(sport.Activity.Name))
                        {
                            sports.Add(@sport.Activity.Name);
                            <form>
                                @using (Html.BeginForm("Index", "Home"))
                                {
                                    <input class="dropdown-item" type="submit" name="searchString" value="@sport.Activity.Name" @*aria-label="Search"*@>
                                }
                            </form>
                        }
                    }
                </div>
            </div>
            <a type="button" class="btn btn-success" asp-area="" name="" asp-controller="Home" asp-action="GetPost">Ny</a>
        </div>
    </div>
</div><!-- //Search area -->



<div class="row justify-content-center">
    <!-- Sum of activities -->
    <h5 class="col-4 mt-4 text-center" style="border-block:solid 1px blue">Antal aktiviter: @a</h5>
</div><!-- //Sum of activities -->






<div class="card-deck m-3 mt-3">
    @foreach (var activity in Model)
    {
        b = b + 1;
        <div class="col-6 " style="min-width: 450px;">
            <div class="card">
                <a data-toggle="collapse" href="#multiCollapseExample @b" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <img class="card-img-top" src="@activity.Activity.Picture" alt="Fotboll">
                </a>
                <div class="card-body">
                    <div class="align-content-center">
                        <div class="collapse multi-collapse" id="multiCollapseExample @b">
                            <div class="card card-body">
                                <ul class="list-group list-group-flush">
                                    @if(@activity.Distance <= 1)
                                    {
                                        <li class="list-group-item"><strong>Distans:</strong> mindre än 1 km..</li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item"><strong>Distans:</strong> @activity.Distance km</li>
                                    }
                                    <li class="list-group-item"><strong>Text:</strong> @activity.Text</li>
                                    <li class="list-group-item"><strong>Var:</strong> <a class="" type="submit" class="btn btn-info btn-lg" id="myBtn"> @activity.Where</a></li>
                                      @*<button type="button" class="btn btn-info btn-lg" id="myBtn">Open Modal</button>*@
                                      <!-- MODAL for map-->
                                        <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-body">
                                                    <div class="" id="map"></div>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                            </div>
                                        </div>
                                        </div> 
                                    <li class="list-group-item"><strong>När:</strong> @activity.When</li>
                                    <li class="list-group-item"><strong>Ansvarig: </strong> <a class="" type="submit" asp-action="" asp-route-id="" data-toggle="modal" data-target="#ModalProfile @b">@activity.User.firstName</a></li>
                                    <div class="row">
                                        <div class="col">
                                            @if (activity.nrOfMaxParticipants != null)
                                            {
                                        <li class="list-group-item"><strong>Min:</strong><i> @activity.nrOfMinParticipants</i></li>
                                            }
                                            else
                                            {
                                        <li class="list-group-item"><strong>Min:</strong> <i> - </i></li>
                                            }

                            </div>
                            <div class="col">
                                            @if (activity.nrOfMaxParticipants != null)
                                            {
                                    <li class="list-group-item"><strong>Max:</strong> @activity.nrOfMaxParticipants</li>
                                            }
                                            else
                                            {
                                    <li class="list-group-item"><strong>Max:</strong> <i> - </i></li>
                                            }
                            </div>
                            <div class="col">
                                            @if (activity.ageLimit != null)
                                            {
                                    <li class="list-group-item"><strong>År:</strong> @activity.ageLimit </li>
                                            }
                                            else
                                            {
                                    <li class="list-group-item"><strong>År:</strong> <i> - </i> </li>
                                            }
                            </div>
                        </div>
                                    @if (activity.nrOfMaxParticipants != null)
                                    {
                            <li class="list-group-item"><strong>Deltagare:</strong> <a class="" type="submit" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modal @b">@activity.NrOfParticipants / @activity.nrOfMaxParticipants</a></li>
                                    }
                                    else
                                    {
                            <li class="list-group-item"><strong>Deltagare:</strong> <a class="" type="submit" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modal @b">@activity.NrOfParticipants</a></li>
                                    }



                        <div class="modal fade" id="Modal @b">  <!-- Modal for profile-->
                        <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Deltagare</h4>
                                    </div>
                                    <div class="modal-body">
                                                    @foreach (var item in activity.participants)
                                                    {
                                            <ul>
                                                <li class="list-group-item">
                                                    <a class="" asp-area="" asp-controller="myProfile" asp-action="showProfile" asp-route-id="@item.User.userID">@item.User.firstName @item.User.lastName </a>
                                                    <img class="float-end" src="@item.User.standardPicture" style="width: 7%; height: 7%;" />
                                                </li>
                                            </ul>
                                                    }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                    </div>
                                </div>
                            </div>
                        </div>              <!-- END -->


                    <div class="modal fade" id="ModalProfile @b">
                            <!-- Modal for profile-->
                        <div class="modal-dialog">
                                <div class="modal-content">
                                   @* <div class="modal-header">
                                        <h4 class="modal-title">@activity.User.firstName</h4>
                                    </div>*@
                                    <div class="modal-body">
                                        <div class="row justify-content-center">
                                            <div class="card text">
                                                <div class="justify-content-center align-center">
                                                    <img class="mx-auto d-block mt-4" src="@activity.User.standardPicture" alt="@activity.User.firstName" style="width:30%; height:25%; border-radius: 50%;  border: solid">
                                                    <h1 class="text-center">@activity.User.firstName @activity.User.lastName</h1>
                                                    <hr />
                                                    <div class="ml-3">
                                                        <h5>Om @activity.User.firstName:</h5>
                                                        <p>@activity.User.aboutMe </p>

                                                        <h5>Favoriter:</h5>
                                                        <ul>
                                                            <li>@activity.User.tagOneID</li>
                                                            <li>@activity.User.tagTwoID</li>
                                                            <li>@activity.User.tagThreeID</li>
                                                        </ul>
                                                        <p><strong>Ålder:</strong> @activity.User.Age</p>
                                                        <p><strong>Mail:</strong> @activity.User.Email</p>
                                                        <p><strong>Telefon:</strong> @activity.User.Phone</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                        </div>
                                    </div>
                                </div> <!-- END -->
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    bool isalreadyactive = false;
                }
                @foreach (var item in @activity.participants)
                {
                    if (item.User.userID == @_userID)
                    {
                        isalreadyactive = true;
                    }

                }


                <div class="card-body d-inline-flex" style="margin-top: -40px">
                    @{
                        if (@activity.bestBeforeDate == true)
                        {
                            @if (activity.isForKids == true)
                            {
                                <img class="float-end" src="/img/kidsZoneMod.jpg" style="width: 10%; height: 30%;" />
                            }
                            <p class="m-2" style="color: red">Eventet har redan inträffat.</p>

                        }
                        else if (@activity.NrOfParticipants == @activity.nrOfMaxParticipants)
                        {
                            if (isalreadyactive == true)
                            {
                                <button type="submit" class="btn btn-warning m-1" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modalss @b">Avboka</button>
                                <div class="modal fade" id="Modalss @b">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">@activity.Activity.Name</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Är du säker på att du vill avboka din plats på detta event?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                                <a type="button" class="btn btn-warning m-1" asp-controller="Home" asp-action="UnJoin" asp-route-id="@activity.newActivityID">Avboka</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (activity.isForKids == true)
                            {
                                <img class="float-end" src="/img/kidsZoneMod.jpg" style="width: 10%; height: 30%;" />
                            }
                            <p class="m-2" style="color: red">Eventet har nått max antal deltagare.</p>
                        }
                        else
                        {
                            if (isalreadyactive == true)
                            {
                                <button type="submit" class="btn btn-warning m-1" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modalss @b">Avboka</button>
                                <div class="modal fade" id="Modalss @b">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">@activity.Activity.Name</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Är du säker på att du vill avboka din plats på detta event?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                                <a type="button" class="btn btn-warning m-1" asp-controller="Home" asp-action="UnJoin" asp-route-id="@activity.newActivityID">Avboka</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success m-1" asp-action="" asp-route-id="" data-toggle="modal" data-target="#Modals @b">Boka</button>
                                <div class="modal fade" id="Modals @b">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">@activity.Activity.Name</h4>
                                            </div>
                                            @if (_userAge >= activity.ageLimit)
                                            {
                                                @using (Html.BeginForm("Join", "Home"))
                                                {
                                                    <div class="modal-body">
                                                        @if (@activity.isForKids == true)
                                                        {
                                                            <p>Detta event är för <strong>Barn</strong>. Vill du boka?</p>
                                                            <p><i>Maila mig om:</i></p>
                                                            <ul style="list-style: none;">
                                                                <input type="hidden" value="@activity.newActivityID" name="id" />
                                                                <li class=""><input type="checkbox" id="na" name="_canceled" value="true"><i> Eventet blir inställt.</i></li>
                                                                <li class=""><input type="checkbox" id="na" name="_minimum" value="true"><i> Minimum deltagare nås.</i></li>
                                                                <li class=""><input type="checkbox" id="na" name="_twohours" value="true"><i> 2 timmar innan eventet.</i></li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <p>Detta event är för <strong>Vuxna</strong>. Vill du boka?</p>
                                                            <p><i>Maila mig om:</i></p>
                                                            <ul style="list-style: none;">
                                                                <input type="hidden" value="@activity.newActivityID" name="id" />
                                                                <li class=""><input type="checkbox" id="na" name="_canceled" value="true"><i> Eventet blir inställt.</i></li>
                                                                <li class=""><input type="checkbox" id="na" name="_minimum" value="true"><i> Minimum deltagare nås.</i></li>
                                                                <li class=""><input type="checkbox" id="na" name="_twohours" value="true"><i> 2 timmar innan eventet.</i></li>
                                                            </ul>
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                                        <button type="submit" class="btn btn-success m-1">Boka</button>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="modal-body">
                                                    <p>Tyvärr! Åldersgränsen på detta event är <strong>@activity.ageLimit</strong> och du är <strong>@_userAge</strong> år. </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (activity.isForKids == true)
                            {
                                <img class="float-end" src="/img/kidsZoneMod.jpg" style="width: 10%; height: 30%;" />
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <form>
         <input hidden value="@activity.Latitude" type="number" name="a" id="a"><br>
         <input hidden value="@activity.Longitude" type="number" name="b" id="b"><br>
        </form>
    }
</div>


<script>
    let a = document.getElementById('a').value;
    let b = document.getElementById('b').value;
    var latDouble  = parseFloat(a);
    var longDouble = parseFloat(b);

$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal("show");
  });
  $("#myModal").on('shown.bs.modal', function(){
    initMap(latDouble,longDouble)
  });
});



function initMap(a, b) {
    // Map options
    console.log("InitMap");
    console.log(a);
    console.log(b);




    var options = {
        zoom: 13,
        center: { lat: a, lng: b }
    }
    // New map
    var map = new google.maps.Map(document.getElementById('map'), options);
    // Add marker
    var marker = new google.maps.Marker({
        position: { lat: a, lng: b },
        map: map
    });
}








</script>


<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0ZXdv31nRynoPkkDjq8iLP6DzWSn-0q8&callback=initMap"
async
></script>