@model PlannerApplication.Models.planneruser

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card text">
            <div class="justify-content-center align-center">
                <img class="mx-auto d-block mt-4" src="@Model.standardPicture" alt="@Model.firstName" style="width:25%; height:25%; border-radius: 50%;">
                <h1 class="text-center">@Model.firstName @Model.lastName</h1>
                <hr />
                <div class="ml-3">
                    <h5>Det här är @Model.firstName:</h5>
                    <p>@Model.aboutMe </p>

                    <h5>Favoriter:</h5>
                    <ul>
                        <li>@Model.tagOneID</li>
                        <li>@Model.tagTwoID</li>
                        <li>@Model.tagThreeID</li>
                    </ul>
                    <p><strong>Ålder:</strong> @Model.Age</p>
                    <p><strong>Mail:</strong> @Model.Email</p>
                    <p><strong>Telefon:</strong> @Model.Phone</p>
                </div>
            </div>
        </div>
    </div>
        <a class="dropdown-item text-dark" asp-area="" asp-controller="myProfile" asp-action="Create">Ladda upp bild</a>

</div>




<div>
    @using (Html.BeginForm("Upload","Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
        <input type="hidden" name = "ActionName" value="Index"/>
        <input type="file" name="file3" />
        @*You also can add more file here*@
        </fieldset>
        <input type="submit" value="UpLoad" />
    }
</div>